@model List<WebClient.Models.RecipeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Recipes</h2>

@foreach (var recipe in Model)
{
    <div>
        <h3>@recipe.Title</h3>
        <p>@recipe.Description</p>
        <p>Category: @recipe.CategoryName</p>
    </div>
}

<a asp-action="CreateRecipe">Create New Recipe</a>